.update-container {
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 50px 0;
  background: linear-gradient(90deg, #000, transparent),
    url("https://laquest.net/static/media/covid-bg.8b47f68d.jpg") no-repeat top;
  background-size: cover;
  overflow: hidden;
  margin-top: 5rem;
}
.update-content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.update-content h4 {
  font-weight: 400;
  letter-spacing: 1px;
  color: #707070;
}
.update-content p {
  line-height: 1.3;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 600px) {
  .update-content p {
    font-size: 14px;
  }
}
