/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}
body {
  background-image: url("https://laquest.net/static/media/wallpaper_bg.2ddaa705.jpg");
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
